.button {
    position: relative;
    text-align: center;
    padding: 1.2rem 1.2em;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 0.313rem;
    min-width: 10rem;
    border-radius: 4px;
    background-color: white;
    border: 1px solid;
    color: white;
 
}

.medium {
    font-size: 16px;
}

.large {
    font-size: 18px;
}

.outline {
    background-color: transparent;
    border-color: gray;
    color: black;
}

.outline:hover {
    border-color: red;
    color: red;
}

.basic {
    background-color: black;
    border-color: black;
    color: white;
}

.basic:hover {
    background-color: black;
    border-color: black;
}



.link {
    background-color: transparent;
    color: white;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.link:hover {
    color: gray;
    background-color: transparent;
}

.tertiary {
    background-color: #DB7600;
    border-color: #DB7600;
    color: white;
}

.secondary {
    background-color: #398073;
    border-color: #398073;
    color: white;
}

.secondary:hover {
    background-color: rgba(black, 0.9);
    border-color: rgba(black, 0.9);
}

.primary {
    background-color: #712045;
    border-color: #712045;
    color: white;
}

.primary:hover {
    background-color: rgba(#f18bb9, 0.9);
    border-color: rgba(#712045, 0.9);
}


.disabled {
    background-color: white;
    border-color: #bababa;
    color: #bababa;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
    border: 1px solid;
}

.disabled:hover {
    background-color: white;
    color: #bababa;
    border-color: #bababa;
}
